<!DOCTYPE html>
<html>
<head>
	<title>ABOUT CRYTOGRAPHY</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<!--this is the google font-family link-->

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">


<!--This is the link about the Bootstrap-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!--About thre javascript-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>




	<!-- this is abo the navigation bar-->



</head>
<body>


	<section id="pro">


		<div class="container-fluid firstcontainer">
			<hr class="firstunderline">
			<hr class="firstfirstunerline">
			<h1 class="mainheading">ABOUT CIPHERS</h1>

		<nav class="navbar navbar-expand-lg navbar-dark ">

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link  trying" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">About</a>
		      </li>

					<li class="nav-item">
						<a class="nav-link" href="#">New</a>
					</li>

					<li class="nav-item">
		        <a class="nav-link" href="#">Contact</a>
		      </li>



		    </ul>

		  </div>
		</nav>



		<div id="carouselExampleSlidesOnly" class="carousel slide first" data-ride="carousel"  data-interval="1000">
		  <diLv class="carousel-inner ">
		    <div class="carousel-item active">
		        <img class="cryptographyimage"src="../static/images/cryptography.jpg" class="d-block w-100 " alt="...">
		    </div>
		    <div class="carousel-item ">
		      <img src="../static/images/latest2.jpg" class="d-block w-100 " alt="...">
		    </div>
		    <div class="carousel-item">
		      <img class="latest1"src="../static/images/latest1.jpg" class="d-block w-100 " alt="...">
		    </div>
		  </div>
		</div>











<div class="seconddiv">
<h1 id="heading1">WELCOME TO CRYPTOGRAPHY</h1>
 <h1 class="heading2">CIPHERS<h1>
</div>

</div>



<div class="hipoppart">
	<div class="row">
		<div class="col-lg-6 col-md-6" >
			<img  class="hipopimage" src="../static/images/affine.jpg" alt="hipop">
		</div>

		<div class="col-lg-6 col-md-6">
    <hr class="secondunderline">
			<hr class="thirdunderline">
      <h2 class="headinghipop">ABOUT THE AFFINE CIPHER</h2>
			<p class="secondpara">The affine cipher is a type of monoalphabetic substitution cipher, where each letter in an alphabet is mapped to its numeric equivalent, encrypted using a simple mathematical function, and converted back to a letter. </p>
			 <button  type="button" class=" btn btn-outline-warning classof  btn-lg "><a href='affine'>Click here</a></button>
		</div>
	</div>


</div>

<section id="bharathyapart">
<div class="row">


	<div class="col-lg-6 col-md-6 col-sm-6 bharathyaarrangement">
		<hr class="fourthunderline">
		<hr class="fourtfourthunderline">
		<h2 class="Bharatanatyamheading">ABOUT THE PLAYFAIR CIPHER </h2>
		<p class="secondpara">The Playfair cipher was the first practical digraph substitution cipher. The scheme was invented in 1854 by Charles Wheatstone but was named after Lord Playfair who promoted the use of the cipher. In playfair cipher unlike traditional cipher we encrypt a pair of alphabets(digraphs) instead of a single alphabet</p>
			 <button  type="button" class=" btn btn-outline-warning classof  btn-lg "><a href='playfair'>Click here</a></button>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6">
		<img class="bharathyaimage" src="../static/images/playfair.png" alt="bharathyai">
	</div>

</div>
</section>


<section id="kuchipodi">
	<div class="row">

		<div class="col-lg-6 col-md-6 col-sm-6">
			<img class="kuchipoodiimage" src="../static/images/vigenere.jpg" alt="kuchipodii">
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6 kuchipodiarrange">
			<hr class="fivithunderline">
			<hr class="fivithfivithunderline">
			<h2 class="kuchipudiheading">ABOUT THE VIGENERE CIPHER</h2>
			<p class="thirdpara">The Vigenere cipher is the kind  of polyalphabetic cipher.It was design by Blaise de Vigenere, a 16th century French mathematician.A Vigenere cipher uses a different strategy to create the key stream. The key stream is a repetition of an initial secret  key stream of length m,  where we have 1<=m<=26.The Vigenere cipher is a method of encrypting alphabetic text by using a series of different Caesar ciphers based on the letters of a keyword.The Vigenere cipher uses multiple mixed alphabets, each is a shift cipher.</p>
			 <button  type="button" class=" btn btn-outline-warning classof  btn-lg "><a href='vigenere'>Click here</a></button>
		</div>

	</div>
</section>

<section id="kathakalipart">
	<div class="row">


		<div class="col-lg-6 col-md-6 col-sm-6 kathakaliarrangement">
			<hr class="sixunderline">
			<hr class="sixsixunderline">
			<h2 class="fourthheading">ABOUT THE RSA ALGORITHM</h2>
			<p class="fourthpara">RSA is a public-key cryptosystem that is widely used for secure data transmission. It is also one of the oldest. The acronym RSA comes from the surnames of Ron Rivest, Adi Shamir, and Leonard Adleman, who publicly described the algorithm in 1977.</p>
			 <button  type="button" class=" btn btn-outline-warning classof  btn-lg "><a href='rsa'>Click here</a></button>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6">
			<img class="kathakaliimage" src="../static/images/rsa.png" alt="ktha">
		</div>

	</div>

</section>

<section id="applicationform">

	<div class="row">
		<div class="col-lg-6 col-md-6-lg col-sm-6">
			<img class="applicationimages" src="../static/images/forms.jpg" alt="application">
		</div>

		<div class="col-lg-6 col-md-6-lg col-sm-6 lastarrangement">
			<hr class="lastunderline">
			<hr class="lastunderline1">
			<h2 class="applicationheading">JOIN OUR</h2>
			<h2 class="applicationheading1">JOURNEY</h2>
			<p class="lastparagraph">This is your Welcome section paragraph. As the first text your readers encounter, this copy should clearly convey what your site is all about.</p>
			 <button  type="button" class=" btn btn-outline-warning classofbutton  btn-lg ">Join Now</button>
		</div>

	</div>



</section>

</body>
</html>
