<!DOCTYPE html>
<html>
  <head>

    <title>About te joining</title>
    <link rel="stylesheet" href="../static/join.css">
  </head>
  <body>
   <section id="firstsection">
     <div class="firstdiv">
       <form>
         <table>
           <tr>
             <td><h3 class="name">Name</h3></td>
           </tr>

           <tr>
          <td><input type="text" name="" value=""></td>   
           </tr>

         </table>

       </form>
     </div>

   </section>

  </body>
</html>
